@charset "UTF-8";

/*circle, #77a2b4, #94bbcc)*/

* {
    font-family: Poppins;
}

body {
    background-image: radial-gradient(circle, #084C61, #29809b 60%, #81a6b6);
}

main {
    background-color: azure;
    border-radius: 15px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.226);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #084C61;
    text-align: center;
    text-shadow: 1px 1px 3px #084c614d;
}

h2 {
    color: #0e6d8a;
}

p {
    text-align: justify;
}